


  <section id="slider"><!--slider-->
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div id="slider-carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
              <li data-target="#slider-carousel" data-slide-to="1"></li>
              <li data-target="#slider-carousel" data-slide-to="2"></li>
            </ol>
            
            <div class="carousel-inner">
              <div class="item active">
                <div class="col-sm-6">
                  <h1><span>E</span>-SHOPPER</h1>
                  <h2>Cientos de productos</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                  <!-- <button type="button" class="btn btn-default get">Get it now</button> -->
                </div>
                <div class="col-sm-6">
                  <img src="public/images/home/transmision.jpg" class="girl img-responsive" alt="" />
                  <!-- <img src="public/images/home/pricing.png"  class="pricing" alt="" /> -->
                </div>
              </div>
              
              <div class="item">
                <div class="col-sm-6">
                  <h1><span>E</span>-SHOPPER</h1>
                  <h2>Descuentos todos los días</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                  <!-- <button type="button" class="btn btn-default get">Get it now</button> -->
                </div>
                <div class="col-sm-6">
                  <img src="public/images/home/engine.jpg" class="girl img-responsive" alt="" />
                  <!-- <img src="public/images/home/pricing.png"  class="pricing" alt="" /> -->
                </div>
              </div>
              
              <div class="item">
                <div class="col-sm-6">
                  <h1><span>E</span>-SHOPPER</h1>
                  <h2>Un solo sitio para todo</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                  <!-- <button type="button" class="btn btn-default get">Get it now</button> -->
                </div>
                <div class="col-sm-6">
                  <img src="public/images/home/audio.jpg" class="girl img-responsive" alt="" />
                  <!-- <img src="public/images/home/pricing.png" class="pricing" alt="" /> -->
                </div>
              </div>
              
            </div>
            
            
            <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
              <i class="fa fa-angle-left"></i>
            </a>
            <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
              <i class="fa fa-angle-right"></i>
            </a> 
            
          </div>
          
        </div>
      </div>
    </div>
  </section><!--/slider-->
  
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">

						<h2>Buscar producto</h2>

						<div id="searchBox" >
							<input id="searchTextbox" type="text" ng-model='search'/>
						</div>


						<!--category-products-->
						<h2><br><br>Categorias</h2>
						<div class="panel-group category-products" id="accordian">
							<div class="panel panel-default" ng-repeat="product in productCatalog | unique: 'category'">
								<div class="panel-heading">
									<h4 class="panel-title"><input type='checkbox' ng-model=search.category><a href="#"> {{ removeSpecialCharacters(product.category) }}</a></h4>
								</div>
							</div>
						</div>
						<!--/category-products ng-click="search.category = product.category"-->
 						


						<!--brands_products-->
						<div class="brands_products">
							<h2>Marcas</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li ng-repeat="product in productCatalog | unique: 'brand'"><a href="#">{{ removeSpecialCharacters(product.brand) }}</a></li>
								</ul>
							</div>
						</div>
						<!--/brands_products-->


						<!--price-range-->
						<!--
						<div class="price-range">
							<h2>Price Range</h2>
							<div class="well text-center">
								 <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
								 <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
							</div>
						</div>
						-->
						<!--/price-range-->
						
						<!--shipping-->
						<!--
						<div class="shipping text-center">
							<img src="public/images/home/shipping.jpg" alt="" />
						</div>
						-->
						<!--/shipping-->
					
					</div>
				</div>
				

				<!-- Catalogo -->
				<div class="row">
				  <div class="col-sm-3 col-md-2" ng-repeat="product in productCatalog | filter:search | filter:search.category">
				    <div class="thumbnail">
				      <img src="public/images/catalog/{{product.image}}">
				      <div class="caption">
				        <h4>{{product.name}}</h4>
				        <h5>{{product.price | currency}}</h5>
				        <p>{{product.shortDescription}}</p>
				        <h5>{{product.brand}}</h5>
				      </div>
				    </div>
				  </div>
				</div>
				<!-- Catalogo -->

			</div>
		</div>
	</section>